<table class="table">
  <thead>
  <tr>
    <th scope="col">{{head_name}}</th>
    <th scope="col">{{head_apellidos}}</th>
    <th scope="col">{{head_prof}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{nombres}}</td>
    <td>{{apellidos}}</td>
    <td>{{profesion}}</td>
  </tr>
  </tbody>
</table>
