<h2>Componente de NgFor</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">{{head_name}}</th>
  </tr>
  </thead>
  <tbody *ngFor="let name of array">
  <tr>
    <td>{{name}}</td>
  </tr>
  </tbody>
</table>
